[Unit]
Description=Tentacle OctoPrint Client
After=octoprint.service

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 -m tentacle
TTYPath=tty1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
